.icon-bg::-webkit-scrollbar {
    width: 8px;
}

.icon-bg::-webkit-scrollbar-thumb {
    background: #F15757;
    visibility: hidden;
    border-radius: 5px;
}

.icon-bg:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.a-controller {
    width: calc(100vw - 144px);
}

.icon-prev {
    height: calc(100% - 73px);
}

@media (min-width: 768px) {
    .a-controller {
        width: calc(100vw - 256px);
    }
}